{% extends "base.html" %}

{% block title %}Home - Mi Sitio{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block content %}
    <section class="home-section">
        <div class="home-links">
            <div class="home-links-text">
                <h1>Bienvenido a DrakoStyle</h1>
            <p>Una pagina académica donde exploramos funciones desarrolladas con Flask (Esta pagina no es una tienda real)</p>
            <p>Para ver el catalogo primero debes iniciar sesión o registrarte</p>
            </div>
            <div class="home-links-buttons">
                <button class="home-links-buttons-shop"><a href="{{ url_for('shop.shop') }}">Ir a la Tienda</a></button>
                <button class="home-links-buttons-register"><a href="{{ url_for('auth.register') }}">Registrarse</a></button>
            </div>
        </div>
        <div class="home-image">
            <img src="https://images.pexels.com/photos/298863/pexels-photo-298863.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Imagen de Ropa masculina">
        </div>
    </section>
{% endblock %}
